<section>
  <h2 style="text-align: center; font-size: 15px;">
    {{stat1}} vs. {{stat2}}
  </h2>

  {{#if empowered}}
    <h4 class="dice-total" style="color: indigo; font-weight: bold; text-align: center;">
      Empowered! {{number_targets}} target(s)
    </h4>
  {{/if}}

  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">
        {{roll.formula}}
      </div>
      <div class="dice-tooltip">
        <section class="tooltip-part">
          <div class="dice">
            {{#each rolldices as |groupdice|}}
              <header class="part-header flexrow">
                <span class="part-formula">
                  {{groupdice.number}}d{{groupdice.faces}}
                </span>
                <span class="part-total">
                  {{groupdice.total}}
                </span>
              </header>
              <ol class="dice-rolls">
                {{#each groupdice.results as |dice|}}
                  <li class="roll die d{{groupdice.faces}}">
                    {{dice.result}}
                  </li>
                {{/each}}
              </ol>
            {{/each}}
          </div>
        </section>
      </div>
      <h4 class="dice-total"
      {{#if critical}}style="color: crimson;"{{/if}}>
        {{roll._total}} {{#if critical}}(Critical){{/if}}
      </h4>
    </div>
  </div>
</section>