<form name="grit">
  <section style="margin:5px">
    <div class="config-box center">
      <label style="font-size: 18px;">Action</label>
    </div>

    <div class="config-box center">
      <div class="part">
        <label>Recover HP</label>
        <input name="use" value="recover" type="radio" checked>
      </div>

      <div class="part">
        <label>Brace for Impact</label>
        <input name="use" value="brace" type="radio">
      </div>

      <div class="part">
        <label>Resist Binding</label>
        <input name="use" value="resist" type="radio">
      </div>
    </div> 
  </section> 

  <hr class="no-margin"/>

  <section style="margin:5px">
    <div class="config-box center">
      <label style="font-size: 18px;">Grit change</label>
    </div>

    <div class="config-box center">
      <div class="part">
        <label>Spend</label>
        <input name="change" value="spend" type="radio" checked>
      </div>

      <div class="part">
        <label>Don't spend</label>
        <input name="change" value="dontspend" type="radio">
      </div>
    </div> 
  </section>
</form>