<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="item-body">
    <div class="resource">
      <label class="resource-label">Quantity:</label>
      <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" class="small"/>
    </div>

    <div class="resource">
      <label class="resource-label">Cost (suls):</label>
      <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" class="small"/>
    </div>

    <div class="resource">
      <label class="resource-label">Consumable:</label>
      <input name="data.consumable" type="checkbox" {{checked data.consumable}}>
    </div>

    <div class="resource">
      <label class="resource-label">Max value (refresh):</label>
      <input type="text" name="data.max" value="{{data.max}}" data-dtype="Number" class="small"/>
    </div>

    <div class="resource">
      <label class="resource-label">Description:</label>
      <div class="description">
        {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>
  
  </section>
</form>
